
# Ignorar todos los archivos en el directorio data
data/*

# No ignorar los archivos específicos que deseas conservar
!data/detections/badminton_best.json
!data/videos/input/badminton_best.json
!data/videos/output/badminton_best.json

weights/badminton_best.pt
